.dropdown {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
}

.dropdown-btn {
    width: 100%;
    padding: 15px;
    font-size: 25px;
    text-align: left;
    color: #3a73ab;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    position: relative;
    border-bottom: 2px solid #ddd; /* Small border at the bottom */
    transition: border-color 0.3s ease; /* Smooth transition for border color */
}

.dropdown-btn:focus,
.dropdown-btn:active {
    outline: none; /* Ensure no outline on focus */
    box-shadow: none; /* Ensure no shadow on focus */
    border-color: #ddd; /* Ensure the border color stays the same */
}

.dropdown-btn:after {
    content: '\25BC';
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

.dropdown-btn.active:after {
    transform: translateY(-50%) rotate(180deg);
}


.dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    padding-left: 15px;
	color: #595959;
}

.dropdown-content p {
    margin: 0;
}

.dropdown-content.show {
    max-height: 700px; /* Adjust based on content height */
}

.dropdown-section {
    margin-top: 50px;
    margin-bottom: 50px;
}
/* Responsive adjustments */
@media (max-width: 768px) {
    .dropdown-btn {
        font-size: 16px;
        padding: 12px;
    }
}

@media (max-width: 576px) {
    .dropdown-btn {
        font-size: 14px;
        padding: 10px;
    }
}
